{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [ ! -d ~/.oh-my-zsh ];
then
	echo "⬇️ installing oh-my-zsh"
	sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
	echo "✅ oh-my-zsh installed"
else
	echo "✅ oh-my-zsh already installed"
fi
{{ end -}}
