{{- /* See https://github.com/Homebrew/homebrew-bundle#readme */ -}}
{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [ "$(which brew)" == "" ];
then
	echo "Installing Homebrew"
	bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
	echo "Homebrew already installed"
fi

echo "Installing Homebrew packages"
brew bundle --no-lock --file=/dev/stdin \
<<EOF

brew "choosy"
brew "git"
brew "gh"
brew "hugo"
brew "rbenv"
brew "ruby-build"
brew "vault"
brew "volta"

cask "1password/tap/1password-cli"

EOF
{{ end -}}
