{{- /* See https://github.com/Homebrew/homebrew-bundle#readme */ -}}
{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if [ "$(which brew)" == "" ];
then
	echo "⬇️ installing homebrew"
	bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
	echo "✅ homebrew already installed"
fi

echo "⬇️ installing homebrew packages"
brew bundle --no-lock --file=/dev/stdin \
<<EOF

brew "git"
brew "gh"
brew "hugo"
brew "rbenv"
brew "ruby-build"
brew "volta"

cask "choosy"
cask "1password/tap/1password-cli"

EOF
{{ end -}}
