
# Template data
data:

  # 1Password configurations
  onepassword:
    accountId: UI5PJXDPLJFVRLPRH4YP6ESRKE

  # Git and GitHub configuration
  git:
    username: rowanmanning
    name: Rowan Manning
    email: 138944+rowanmanning@users.noreply.github.com

  # Used to switch chezmoi behaviour between different
  # types of machine (full, bare)
  variant: full
