export SECRET_GITHUB_FT_VAULT_AUTH={{ trim (onepasswordRead "op://dotfiles/ft-vault-auth-token/credential") }}
export SECRET_GITHUB_GENERAL_AUTH={{ trim (onepasswordRead "op://dotfiles/github-auth-token/credential") }}
