
# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="agnoster"

# Uncomment the following line to display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
    git
    heroku
    node
    npm
)

# Load Oh My Zsh
source $ZSH/oh-my-zsh.sh


# Aliases
# =======

# Directory creation
function mcd() { mkdir -p "$1" && cd "$1"; }

# Directory removal
alias rmr="rm -rf"

# Choose an AWS profile, passing the name into the `AWS_PROFILE` environment variable
function awsp() {
    PS3='Choose an AWS profile by entering the corresponding number: ';
    profiles=($(aws configure list-profiles))
    select profile in "${profiles[@]}"
    do
        echo "Using profile \"$profile\""
        export AWS_PROFILE=$profile
        break;
    done
}

# Choose an AWS region, passing the name into the `AWS_REGION` environment variable
function awsr() {
    PS3='Choose an AWS region by entering the corresponding number: ';
    regions=(eu-west-1 us-east-1)
    select region in "${regions[@]}"
    do
        echo "Using region \"$region\""
        export AWS_REGION=$region
        break;
    done
}


# Path
# ====

# Prepend Volta path
export VOLTA_HOME="$HOME/.volta"
path=('$VOLTA_HOME/bin' $path)

# Prepend Homebrew bin folder
path=('/usr/local/bin' $path)

# Append ~/bin folder
export HOME_BIN="$HOME/bin"
path+=($HOME_BIN)

# Append node_modules bin folder
path+=('./node_modules/.bin')

export PATH


# ZSH Config
# ==========

# Ignore duplicate commands in the history
setopt HIST_IGNORE_ALL_DUPS
setopt SHARE_HISTORY


# Environment
# ===========

# Make vim the default editor
export EDITOR="vim"

# Increase the maximum number of commands to remember
# (default is 500)
export HISTSIZE=10000

# Export common secrets
source $HOME/.secrets
export GITHUB_AUTH_TOKEN=$SECRET_GITHUB_GENERAL_AUTH;

# Disable Puppeteer Chromium downloads to reduce the
# size of node_modules
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true


# Initialise Tools
# ================

# Set up Volta for Node.js version management
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"

# Set up rbenv for Ruby version management
eval "$(rbenv init - zsh)"
