export SECRET_GITHUB_FT_VAULT_AUTH={{ trim (onepasswordRead "op://dotfiles/ft-vault-auth-token/credential" "UI5PJXDPLJFVRLPRH4YP6ESRKE") }}
export SECRET_GITHUB_GENERAL_AUTH={{ trim (onepasswordRead "op://dotfiles/github-auth-token/credential" "UI5PJXDPLJFVRLPRH4YP6ESRKE") }}
export BIZ_OPS_API_KEY={{ trim (onepasswordRead "op://dotfiles/biz-ops-api-key/credential" "UI5PJXDPLJFVRLPRH4YP6ESRKE") }}
