export SECRET_GITHUB_FT_VAULT_AUTH={{ trim (onepasswordRead "op://keys/ft-vault-auth-token/credential") }}
export SECRET_GITHUB_GENERAL_AUTH={{ trim (onepasswordRead "op://keys/github-auth-token/credential") }}
