{{- /* See https://github.com/Homebrew/homebrew-bundle#readme */ -}}
{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin \
<<EOF

brew "git"
brew "gh"
brew "heroku"
brew "hugo"
brew "vault"
brew "volta"

cask "1password/tap/1password-cli"

EOF
{{ end -}}
