"*":
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    projectHome: "/Users/rowan.manning/Projects"
    themes: [
      "atom-dark-ui"
      "burn"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 100
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "markdown-preview":
    useGitHubStyle: true
  tabs:
    addNewTabsAtEnd: true
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".gfm.source":
  editor:
    preferredLineLength: 75
".html.text.textile":
  editor:
    preferredLineLength: 75
    softWrap: true
"source.gfm":
  editor:
    softWrap: true
