# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

# HTML Document
'.text.html':
  'HTML Document':
    'prefix': 'doc'
    'body': """
      <!DOCTYPE html>
      <html lang="en">
      <head>
          <meta charset="utf-8">
          <title>$1</title>
      </head>
      <body>
          $2
      </body>
      </html>
    """

# HTML Script
'.text.html':
  'HTML Script':
    'prefix': 'script'
    'body': '<script src="$1"></script>'
