{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash
defaults write com.googlecode.iterm2 PrefsCustomFolder -string "~/.iterm"
defaults write com.googlecode.iterm2 LoadPrefsFromCustomFolder -bool true
{{ end -}}
