{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}
{{ $packages := include ".chezmoidata/ubuntu/packages.yaml" | fromYaml -}}
#!/bin/bash
sudo apt upgrade -y && sudo apt update -y
{{ range $packages.apt -}}
sudo apt install -y {{ . | quote }}
{{ end -}}
{{ end -}}
