#!/usr/bin/env bash
if [ ! -d ~/.oh-my-zsh ]; then sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended; fi
if [ "$(which volta)" == "" ]; then curl https://get.volta.sh | bash; fi
